/* Reset some default styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #262626;
    margin: 20px;
}

/* Header styling */
h1, h2 {
    color: #0a0a0a;
}

/* Navigation menu styling */
ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #232222;
}

/* Form styling */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
}

/* General link styling */
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
